label{
    margin-top: 10px;
}

canvas{
    animation-name: Clown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes Clown {
    from{box-shadow: 1px 1px 20px rgb(165, 16, 16);}
    to{box-shadow: 1px 1px 20px rgb(100, 112, 225);}
}

.btn-danger:hover{
background-color: rgb(207, 160, 252);
color: black;
}